* {
  font-family: "Tilt Warp", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main{
  display: flex;
  flex-direction: column;
}

.MainSec {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 130vh;
  z-index: 0;
}

.Right {
  background-color: oklch(25.7% 0.09 281.288);
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Left{
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.INTROTEXTBOX {
  width: 50%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  height: 20%;
}

.h1Plush3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.FishInosTitle {
  font-size: 4rem;
}

h3 {
  color: oklch(75% 0.183 55.934);
}

.InitialDescription {
  font-size: 1.3rem;
  color: oklch(26.8% 0.007 34.298);
}

.OverviewPage {
  align-items: center;
  height: 15%;
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.Decoration {
  width: 0.4%;
  height: 8rem;
  background-color: oklch(75% 0.183 55.934);
  border-radius: 1rem;
}

.OverviewPageBox {
  width: 100%;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
}

.OverviewPageTitle {
  font-size: 2.2rem;
  display: inline-block;
  width: 40%;
}

.OverviewPageDescription {
  display: inline-block;
  width: 90%;
  height: 20%;
  color: oklch(26.8% 0.007 34.298);
}

.HighlightsPage {
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.HighlightsTitle {
  font-size: 2.2rem;
}

.Stack {
  color: oklch(97.7% 0.013 236.62);
  font-size: 2.2rem;
  display: inline-block;
  text-shadow: 4px 4px 8px rgba(0,85,136,0.6);}

.StackBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 90%;
  height: 75%;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}

.Icon {
  width: 3.4rem;
  height: 3.4rem;
  transition: .1s ease-in-out;
  cursor: pointer;
}

.Icon:hover {
  transform: scale(1.05);
}

.IconBox {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem oklch(90.1% 0.058 230.902);
  border-radius: 0.5rem;
  box-shadow: 0px 10px 23px 0px rgba(0,85,136,0.75);
  -webkit-box-shadow: 0px 10px 23px 0px rgba(0,85,136,0.75);
  -moz-box-shadow: 0px 10px 23px 0px rgba(0,85,136,0.75);
}

.IconTsBox {
  grid-area: 1 / 1 / 2 / 2;
}

.IconDenoBox {
  grid-area: 1 / 2 / 2 / 3;
}

.IconSupabaseBox {
  grid-area: 1 / 3 / 2 / 4;
}

.IconDockerBox {
  grid-area: 2 / 1 / 3 / 2;
}

.IconCPPBox {
  grid-area: 2 / 2 / 3 / 3;
}

a {
  text-decoration: none;
  color: inherit;
  width: auto;
  height: auto;
}
